<app-search></app-search>

<ngx-spinner bdColor="rgba(0,0,0,0.8)"
size="medium"
color="#fff"
type="ball-clip-rotate-multiple">
  <p style="font-size: 20 px; color: white;">
  Loading ...
  </p>
</ngx-spinner>

<div class="container">

    <div class="col-md-12 col-sm-12 col-xs-12">

    <div class="card card-primary">
      <div class="card-heading">
        <div class="card-header">Liste des produits</div>
        <div class="card-body">
          <button class="btn btn-primary" (click) = "onGetProducts()">Produits</button>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="onChercher(f.value)" class="form-inline">
            <label for="search" class="mr-sm-2">Recherche:</label>
            <input type="text" name="searchWord" ngModel class="form-control" placeholder="Search word" id="search">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-search"></i>
              Chercher
            </button>
          </form>
          <table *ngIf="prd; else noPrd" class="table table-striped" >
            <thead>
            <tr>
              <th>ID</th><th>DESIG</th><th>PRIX</th><th>QTE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of prd._embedded.produits">
               <td>{{p.id}}</td>
               <td>{{p.desig}}</td>
               <td>{{p.prix | number:'0.2'}}</td>
               <td>{{p.qte}}</td>
               <td><button (click) = "deleteProduit(p)" class="btn btn-danger">Supprimer</button> </td>
               <td><button (click) = "editerProduit(p)" class="btn btn-success">Maj</button> </td>
            </tr>
          </tbody>  
          </table>
          <ul class="pagination"  *ngIf="pages">
            <li class="page-item"><a class="page-link" (click)="onLastPage()">Précédente</a></li>
              <li class="page-item" [ngClass]="i==page?'active':''" *ngFor="let p of pages; let i=index">
                <a class="page-link" (click)="onPageProducts(i)">{{i+1}}</a>
              </li>
            <li class="page-item"><a class="page-link" (click)="onNextPage()">Suivante</a></li>
          </ul> 
        </div>
         

          <ng-template #noPrd>
            <p>Aucun produit</p>
          </ng-template>
       
      </div>
    </div>
  </div>
  </div>
